@font-face {
    font-family: BadaBoom BB;
    src: url(../Fonts/BADABB__.TTF);
}
@font-face {
    font-family: Khmer OS Classic;
    src: url(./Fonts/KhmerOSclassic_0.ttf);
}

body {
    display: flex;
    justify-content: center;
    /* background-image: url(../Image/Untitled-1.jpg); */
    background-image: url(../Image/backgroud\ 2.jpg);
    background-size: 1600px 800px;
    image-resolution: 1;
    /* background-size: cover; */
    background-repeat: no-repeat;
    /* image-resolution: 780px; */
}

a {
    text-decoration: none;
    color: white;
}

.math-select, .ict-select, .physic-select, .chemistry-select, .biology-select {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 0px 0px;
    width: 350px;
    height: 80px;
    /* background-color: lime; */
    position: absolute;
    top: 210px;
    /* font-family: BadaBoom BB, sans-serif; */
    font-family: Khmer OS Classic, cursive;
    font-size: 350%;
    left: 80px;
    opacity: 0.8;
    color: white;
    text-shadow: 2px 2px 5px black;
    overflow: hidden;
    text-align: center;
}
.math-select {
    top: 210px;
    left: 80px;
    background-color: #00CC33 ;
    animation: math-animation 2s alternate;
    /* background-color: transparent; */
}

img.math-paint {
    position: absolute;
    left: 415px;
    /* left: -270px; */
    top: 190px;
    width: 100px;
    height: 110px;
    animation: math-paint 1.9s alternate;
    animation-delay: 0ms;
}

.ict-select {
    top: 328px;
    /* left: 180px; */
    left: 180px;
    width: 345px;
    background-color: #0033FF;
    animation: ict-animation 2s alternate;
    animation-delay: 100ms;
    /* background-color: transparent; */
}

.ict-paint {
    position: absolute;
    top: 320px;
    left: 80px;
    width: 100px;
    height: 100px;
    animation: ict-paint 2.2s alternate;
}

.chemistry-select {
    top: 565px;
    left: 180px;
    background-color: #6666CC;
    animation: ict-animation 2s alternate;
    animation-delay: 50ms;
}

img.chemistry-paint {
    position: absolute;
    top: 560px;
    left: 80px;
    width: 100px;
    height: 100px;
    animation: ict-paint 2s alternate;
    /* animation-delay: 100ms; */
}

.physic-select {
    top: 445px;
    left: 80px;
    background-color: #3399FF;
    animation: math-animation 2s alternate;
}

img.physic-paint {
    position: absolute;
    width: 100px;
    height: 110px;
    top: 425px;
    left: 415px;
    animation: math-paint 1.9s alternate;
}

.biology-select {
    position: absolute;
    top: 685px;
    left: 80px;
    background-color: #CC99CC;
    animation: math-animation 2s alternate;
}

img.biology-paint {
    position: absolute;
    width: 100px;
    height: 110px;
    top: 665px;
    left: 415px;
    animation: math-paint 1.8s alternate;
}   

@keyframes math-animation {
    from {
        width: 50px;
        /* background-color: red; */
        opacity: 0.5;
    }
    to {
        width: 350px;
        /* background-color: blue; */
        opacity: 1;
    }
}
@keyframes ict-animation {
    from {
        left: 450px;
        width: 80px;
        opacity: 0.5;
    }
    to {
        left: 180px;
        width: 345px;
        opacity: 1;
    }
}
@keyframes math-paint {
    from {
        left: 70px;
        /* width: 80px; */
        opacity: 0.5;
    }
    to {
        left: 415px;
        opacity: 1;
    }   
}
@keyframes ict-paint {
    from {
        left: 400px;
        /* width: 80px; */
        opacity: 0.5;
    }
    to {
        left: 80;
        opacity: 1;
    }
}

.in-class,
.evaluation,
.ask, 
.quiz, 
.random {
    position: absolute;
    font-family: BadaBoom BB;
    font-size: 300%;
    text-transform: capitalize;
    text-shadow: 2px 5px 3px black;
}

.in-class {
    left: 1220px;
    top: 205px;
}

.random {
    top: 290px;
    left: 1240px;
}

.evaluation {
    top: 380px;
    left: 1200px;
}

.quiz {
    top: 475px;
    left: 1275px;
}

.ask {
    top: 570px;
    left: 1260px;
}

/* .top {
    position: absolute;
    top: 145px;
    left: 1020px;
    width: 600px;
    height: 600px;
}

.top-center {
    position: absolute;
    top: 140px;
    left: 1035px;
    width: 550px;
    height: 580px;
}

.top-mid {
    position: absolute;
    top: 170px;
    left: 1020px;
    width: 580px;
    height: 580px;
} */
